.form-error {
	@apply text-xs text-error-content;
}

.form-error .error-text {
	@apply font-bold whitespace-pre-wrap;
}

.form-control-group .input-group :nth-child(1) {
	@apply flex-1;
}

.form-control {
	@apply min-w-[30px]
}

.form-control .input {
	@apply max-w-full min-w-[30px]
}

.form-error .label-bottom {
	@apply p-1 mt-1
}