.navbar-collapse-btn {
	@apply text-neutral-content cursor-pointer text-xl leading-none px-0 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none;
}

.nav-item a, .nav-item button {
	@apply px-3 py-2 flex items-center uppercase font-bold leading-snug text-white hover:opacity-75;
}

.nav-list-container {
	@apply border-t-2 mt-3 pt-3 border-neutral-content lg:border-0 lg:flex flex-grow items-center 
}
.nav-list {
	@apply flex flex-col items-end lg:flex-row list-none lg:ml-auto  w-full lg:w-auto lg:text-lg;
}
