.form-error input,
.form-error select,
.form-error textarea {
	@apply border-error-content;
}
.form-error span {
	@apply text-error-content;
}

.input {
	@apply input-md;
}
.select {
	@apply select-md;
}